In [25]:
import os
import pandas as pd
import numpy as np
import tensorflow as tf

In [26]:
df = pd.read_csv("../source_data/Corona_NLP_test.csv", encoding="latin-1")

In [27]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Extremely Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Extremely Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral

In [28]:
df["Sentiment"].value_counts()

Negative              1041
Positive               947
Neutral                619
Extremely Positive     599
Extremely Negative     592
Name: Sentiment, dtype: int64

In [29]:
df["Sentiment"]=df["Sentiment"].map({"Positive":"Positive","Extremely Positive":"Positive","Negative":"Negative","Extremely Negative":"Negative","Neutral":"Neutral"})

In [30]:
df["Sentiment"].value_counts()

Negative    1633
Positive    1546
Neutral      619
Name: Sentiment, dtype: int64

In [31]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from string import punctuation
from nltk.stem import WordNetLemmatizer
import contractions

In [32]:
stop_word = set(stopwords.words("english"))

In [33]:
punt = punctuation.replace("!"," ").replace("?"," ")

In [34]:
def tweet_tokenize(tweet):
    tokenizer=TweetTokenizer(reduce_len=True)
    lemmatizer = WordNetLemmatizer()
    tokens = tokenizer.tokenize(contractions.fix(tweet))
    pruned = []
    for token in tokens:
        if token not in punctuation and not token.startswith("http"):
            if token.startswith("@"):
                token=token.replace("@"," ")
                pruned.append(lemmatizer.lemmatize(token.lower()))
            else:
                pruned.append(lemmatizer.lemmatize(token.lower()))
                return pruned

In [35]:
clean_tweet = df["OriginalTweet"].apply(lambda x:tweet_tokenize(x))

In [36]:
clean_tweet.head()

0        [trending]
1            [when]
2            [find]
3          [#panic]
4    [#toiletpaper]
Name: OriginalTweet, dtype: object

In [37]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Negative
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Positive
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral

In [38]:
df["tweet"]= clean_tweet

In [39]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,tweet
0,1,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Negative,[trending]
1,2,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive,[when]
2,3,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Positive,[find]
3,4,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative,[#panic]
4,5,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral,[#toiletpaper]

In [40]:
newdf = df.drop("UserName", axis='columns')

In [41]:
newdf.head()

,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,tweet
0,44953,NYC,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Negative,[trending]
1,44954,"Seattle, WA",02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive,[when]
2,44955,NaN,02-03-2020,Find out how you can protect yourself and love...,Positive,[find]
3,44956,Chicagoland,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative,[#panic]
4,44957,"Melbourne, Victoria",03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral,[#toiletpaper]

In [42]:
newdf1 = newdf.drop("Location", axis='columns')

In [43]:
newdf1.head()

,ScreenName,TweetAt,OriginalTweet,Sentiment,tweet
0,44953,02-03-2020,TRENDING: New Yorkers encounter empty supermar...,Negative,[trending]
1,44954,02-03-2020,When I couldn't find hand sanitizer at Fred Me...,Positive,[when]
2,44955,02-03-2020,Find out how you can protect yourself and love...,Positive,[find]
3,44956,02-03-2020,#Panic buying hits #NewYork City as anxious sh...,Negative,[#panic]
4,44957,03-03-2020,#toiletpaper #dunnypaper #coronavirus #coronav...,Neutral,[#toiletpaper]

In [44]:
newdf2 = newdf1.drop("OriginalTweet", axis='columns')

In [45]:
newdf2.head()

   ScreenName     TweetAt Sentiment           tweet
0       44953  02-03-2020  Negative      [trending]
1       44954  02-03-2020  Positive          [when]
2       44955  02-03-2020  Positive          [find]
3       44956  02-03-2020  Negative        [#panic]
4       44957  03-03-2020   Neutral  [#toiletpaper]

In [46]:
newdf3 = newdf2.drop("TweetAt", axis='columns')

In [47]:
newdf3.head()

   ScreenName Sentiment           tweet
0       44953  Negative      [trending]
1       44954  Positive          [when]
2       44955  Positive          [find]
3       44956  Negative        [#panic]
4       44957   Neutral  [#toiletpaper]

In [48]:
newdf4 = newdf3.drop("UserName", axis='columns', axis=1)

SyntaxError: keyword argument repeated (1487954489.py, line 1)

In [49]:
newdf3.to_csv("../data/raw/test.csv", mode='w', index=False)