In [19]:
import os
import pandas as pd
import numpy as np
import tensorflow as tf

In [20]:
df = pd.read_csv("../source_data/corona.csv", encoding="latin-1")

In [21]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Extremely Negative

In [22]:
df["Sentiment"].value_counts()

Positive              11422
Negative               9917
Neutral                7713
Extremely Positive     6624
Extremely Negative     5481
Name: Sentiment, dtype: int64

In [23]:
df["Sentiment"]=df["Sentiment"].map({"Positive":"Positive","Extremely Positive":"Positive","Negative":"Negative","Extremely Negative":"Negative","Neutral":"Neutral"})

In [24]:
df["Sentiment"].value_counts()

Positive    18046
Negative    15398
Neutral      7713
Name: Sentiment, dtype: int64

In [25]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import TweetTokenizer
from string import punctuation
from nltk.stem import WordNetLemmatizer
import contractions

In [26]:
stop_word = set(stopwords.words("english"))

In [27]:
punt = punctuation.replace("!"," ").replace("?"," ")

In [28]:
def tweet_tokenize(tweet):
    tokenizer=TweetTokenizer(reduce_len=True)
    lemmatizer = WordNetLemmatizer()
    tokens = tokenizer.tokenize(contractions.fix(tweet))
    pruned = []
    for token in tokens:
        if token not in punctuation and not token.startswith("http"):
            if token.startswith("@"):
                token=token.replace("@"," ")
                pruned.append(lemmatizer.lemmatize(token.lower()))
            else:
                pruned.append(lemmatizer.lemmatize(token.lower()))
                return pruned

In [29]:
clean_tweet = df["OriginalTweet"].apply(lambda x:tweet_tokenize(x))

In [30]:
clean_tweet.head()

0    [ menyrbie,  phil_gahan,  chrisitv, and]
1                                    [advice]
2                               [coronavirus]
3                                        [my]
4                                        [me]
Name: OriginalTweet, dtype: object

In [32]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Negative

In [36]:
df["tweet"]= clean_tweet

In [37]:
df.head()

,UserName,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,tweet
0,3799,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral,"[ menyrbie, phil_gahan, chrisitv, and]"
1,3800,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive,[advice]
2,3801,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive,[coronavirus]
3,3802,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive,[my]
4,3803,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Negative,[me]

In [54]:
newdf = df.drop("UserName", axis='columns')

In [55]:
newdf.head()

,ScreenName,Location,TweetAt,OriginalTweet,Sentiment,tweet
0,48751,London,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral,"[ menyrbie, phil_gahan, chrisitv, and]"
1,48752,UK,16-03-2020,advice Talk to your neighbours family to excha...,Positive,[advice]
2,48753,Vagabonds,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive,[coronavirus]
3,48754,NaN,16-03-2020,My food stock is not the only one which is emp...,Positive,[my]
4,48755,NaN,16-03-2020,"Me, ready to go at supermarket during the #COV...",Negative,[me]

In [62]:
newdf1 = newdf.drop("Location", axis='columns')

In [63]:
newdf1.head()

,UserName,TweetAt,OriginalTweet,Sentiment,tweet
0,3799,16-03-2020,@MeNyrbie @Phil_Gahan @Chrisitv https://t.co/i...,Neutral,"[ menyrbie, phil_gahan, chrisitv, and]"
1,3800,16-03-2020,advice Talk to your neighbours family to excha...,Positive,[advice]
2,3801,16-03-2020,Coronavirus Australia: Woolworths to give elde...,Positive,[coronavirus]
3,3802,16-03-2020,My food stock is not the only one which is emp...,Positive,[my]
4,3803,16-03-2020,"Me, ready to go at supermarket during the #COV...",Negative,[me]

In [66]:
newdf2 = newdf1.drop("OriginalTweet", axis='columns')

In [67]:
newdf2.head()

   UserName     TweetAt Sentiment                                     tweet
0      3799  16-03-2020   Neutral  [ menyrbie,  phil_gahan,  chrisitv, and]
1      3800  16-03-2020  Positive                                  [advice]
2      3801  16-03-2020  Positive                             [coronavirus]
3      3802  16-03-2020  Positive                                      [my]
4      3803  16-03-2020  Negative                                      [me]

In [68]:
newdf3 = newdf2.drop("TweetAt", axis='columns')

In [69]:
newdf3.head()

   UserName Sentiment                                     tweet
0      3799   Neutral  [ menyrbie,  phil_gahan,  chrisitv, and]
1      3800  Positive                                  [advice]
2      3801  Positive                             [coronavirus]
3      3802  Positive                                      [my]
4      3803  Negative                                      [me]

In [80]:
newdf4 = newdf3.drop("UserName", axis='columns', axis=1)

KeyError: "['UserName'] not found in axis"